<% include header.html %>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <h2 class="section-heading">
            <%= __('Login') %>
          </h2>

          <p>
            <%= __('Please login to access') %>
          </p>

          <form method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">
                <%= __('Email address') %>
              </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email"
                value="<%= email %>">
              <small id="emailHelp" class="form-text text-muted">
                <%= __('We will never share your email with anyone else.') %>
              </small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">
                <%= __('Password') %>
              </label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">
              <%= __('Submit') %>
            </button>
            <div class="error">
              <%= __(error) %>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>

  <% include footer.html %>